<footer>
    <div>
        <dl id="contactInfo">
            <dt>Made By: Meko Steinberg</dt>
            <dd>steinberg.meko@outlook.com</dd>
        </dl>
    </div>
    <div>
        <div id="links">
            <a href="https://www.linkedin.com/in/mekosteinberg"><img
                    src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Linkedin_unofficial_colored_svg-512.png"
                    alt="LinkedInIcon" width="30" height="30"></a>
            <a href="https://github.com/mekosteinberg"><img
                    src="https://cdn4.iconfinder.com/data/icons/iconsimple-logotypes/512/github-512.png"
                    alt="GithubIcon" width="30" height="30"></a>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img
                    src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Twitter_colored_svg-512.png"
                    alt="EasterEgg" width="30" height="30"></a>
        </div>
    </div>
</footer>
</body>
<script type="text/javascript" src="/app.js"></script>

</html>