<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./head') %>
        <title>Book Dragon</title>
</head>

<body>
    <header>
        <% if(user) { %>
            Welcome <%= user.name %>!
                <a href="/logout" class="btn btn-sm btn-outline-secondary"
                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .25rem; --bs-btn-font-size: .6rem">Logout</a>
                <%}%>

                    <h1>Book Dragon</h1>
                    <h4>It's Not Hoarding if it's Books</h4>
    </header>