<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <title>Bookshelf</title>
</head>

<body>
    <div>
        <h1>Book Shelf</h1>
        <h4>It's Not Hoarding if it's Books</h4>
        <a href="/new">
            <button>Add Book</button>
        </a>
        <a href="/"><button>Home</button></a>
        <% data.forEach((book)=> {%>
            <div>
                <h5>
                    <%=book.title%>

                </h5>
            </div>
            <%})%>
    </div>

</body>

</html>