<%- include('./partials/header') %>

    <div>
        <a href="/new">
            <button>Add a Book</button>
        </a>
        <% data.forEach((book)=> {%>
            <div>
                <h5>
                    <%=book.title%>

                </h5>
            </div>
            <%})%>
    </div>

    <%- include('./partials/footer') %>