<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <title>Edit Book Dragon</title>
</head>

<body>
    <header>
        <h1>Book Dragon</h1>
        <h4>It's Not Hoarding if it's Books</h4>
    </header>

</body>

</html>