<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>Book Dragon</title>
</head>
<body>
    <h1 class="text-4xl">💣 <%= error.status || "ERROR" %>: <%= message || "Error" %></h1>
</body>
</html>