<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <title>Book Dragon</title>
</head>

<body>
    <div>
        <h1>Book Dragon</h1>
        <h4>It's Not Hoarding if it's Books</h4>
        <a href="/new">
            <button>Add a Book</button>
        </a>
        <a href="/bookshelf">
            <button>View Bookshelf</button>
        </a>
    </div>
    <footer>
        <div>
        <h6>Made by Meko Steinberg</h6>
        </div>
    </footer>
</body>

</html>