<%- include('./partials/header') %>

    <div class="loginContainer">

        <a href="/login" class="btn btn-warning col-12 col-md-4">
            Login
        </a>

    </div>

    <%- include('./partials/footer') %>