<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <title>Add New - BookDragon</title>
</head>

<body>
    <div>
        <h1>Book Dragon</h1>
        <h4>It's Not Hoarding if it's Books</h4>
        <a href="/bookshelf">
            <button>View Shelf</button>
        </a>
        <form action="/create" method="POST">
            Title: <input type="text" name="title" placeholder="Title" required><br />
            Author First: <input type="text" name="authorFirst" placeholder="Author; First" required><br />
            Author Last: <input type="text" name="authorLast" placeholder="Author; Last" required><br />
            I Own it!<br />

            <input type="checkbox" name="audio">Audiobook<br />
            <input type="checkbox" name="ebook">e-Book<br />
            <input type="checkbox" name="paper">Paper/Hard-back<br />
            <!-- <input type="checkbox" name="own" value="audio">Audiobook<br />
            <input type="checkbox" name="own" value="ebook">e-Book<br />
            <input type="checkbox" name="own" value="paper">Paper/Hard-back<br /> -->
            I Read it!<br />
            <input type="radio" name="readStatus" value="reading">Reading It<br />
            <input type="radio" name="readStatus" value="read">Finished It<br />
            <input type="radio" name="readStatus" value="wantToRead">Want to Read<br />

            Genre Tags: <input type="text" name="genretag" placeholder="Genre Tags"><br />
            <input type="submit" value="Add Book">

        </form>
        <a href="/bookshelf">
            <button>Cancel</button>
        </a>
        <div>

        </div>

    </div>

</body>

</html>