/* body {
    background-image: url("./images/old-book-golden-floral-frame-texture.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */
body {
    background: rgb(9, 9, 73);
    color: antiquewhite;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 92%;
    font-family: 'Dosis', sans-serif;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.headerBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
}


header img {
    border: 3px double goldenrod;
    border-radius: 8px;
}

header h1 {
    padding-top: 1rem;
    padding-left: 1rem;
}

header h4 {
    padding-bottom: 1rem;
    padding-left: 1rem;
}

a {
    text-decoration: none;
    color: antiquewhite;
}

.bookshelfContainer,
.editContainer,
.newContainer,
.pagContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    color: black;
    padding: 1rem;
}

.btn-toolbar {
    justify-content: center;
}

.backEdit {
    flex-direction: column;
    margin: 5px 0;
}



/* truncates text on bookshelf when too long */
.shelfOrg {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 20rem;
}

.row {
    margin: 5px 0;
    align-content: center;
    justify-content: center;
}

.modal {
    color: black;
}

/* footer */
#contactInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 100%;
    padding-top: 2rem;
    margin-top: 4rem;
    margin-bottom: 2rem 1rem;
    gap: 8px;
}

footer a {
    display: inline;
    padding: 0 1rem;

}