/* body {
    background-image: url("./images/old-book-golden-floral-frame-texture.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */
body {
    background: rgb(9, 9, 73);
    color: antiquewhite;
    margin-left: 15px;
    margin-right: 15px;
    width: 100%;
}



a {
    text-decoration: none;
    color: antiquewhite;
}

/* truncates text on bookshelf when too long */
.shelfOrg {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 280px;
}

/* footer */
#contactInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    height: 40px;
    width: 100%;
    padding-top: 20px;
    margin-bottom: 20px 10px;
    gap: 5px;
}

footer a {
    display: inline;
}